.topic-group {
	display: flex;
	width: 100%;

	@media screen and (max-width: 1500px) {
		display: block;
	}
}

.topics-separator {
	display: flex;
	height: 2px;
	margin-top: 20px;
	background-color: var(--color-primary-light-a);
	width: 90%;
	margin-left: 10%;
}