/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

/* Content */
.page {
    display: flex;
    min-height: calc(100vh - var(--header-height) - var(--subheader-height));
    flex-direction: column;
    background-color: var(--color-primary);
}

.page-content {
    display: flex;
    width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--subheader-height) - var(--footer-height));
    flex-direction: column;
    grid-gap: 10px;
}

.page-content[data="no-padding"] {
    padding: 0;
}

.page-header {
    @extend %align-y;

    height: 32px;
    grid-gap: 10px;
}

.page-title {
    color: var(--color-secondary-text);
    font-size: 30px;
}