@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-family: "Whitney" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Slider */
.slick-list {
    .slick-loading & {
        background: #fff center center no-repeat;
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background: transparent;
    color: transparent;
    cursor: pointer;
    font-size: 0;
    line-height: 0px;
    outline: none;
    transform: translate(0, -50%);
    transform: translate(0, -50%);

    &:hover, &:focus {
        background: transparent;
        color: transparent;
        outline: none;

        &::before {
            opacity: $slick-opacity-on-hover;
        }
    }

    &.slick-disabled::before {
        opacity: $slick-opacity-not-active;
    }

    &::before {
        color: $slick-arrow-color;
        font-family: $slick-font-family;
        font-size: 20px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1;
        opacity: $slick-opacity-default;
    }
}

.slick-prev {
    left: -25px;

    [dir="rtl"] & {
        right: -25px;
        left: auto;
    }

    &::before {
        content: $slick-prev-character;

        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;

    [dir="rtl"] & {
        right: auto;
        left: -25px;
    }

    &::before {
        content: $slick-next-character;

        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0 5px;
        cursor: pointer;

        button {
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            border: 0;
            background: transparent;
            color: transparent;
            cursor: pointer;
            font-size: 0;
            line-height: 0px;
            outline: none;

            &:hover, &:focus {
                outline: none;

                &::before {
                    opacity: $slick-opacity-on-hover;
                }
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                color: $slick-dot-color;
                content: $slick-dot-character;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                line-height: 20px;
                opacity: $slick-opacity-not-active;
                text-align: center;
            }
        }

        &.slick-active button::before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
