* {
    --color-primary: #1c1c1c;
    --color-primary-light: #282828;
    --color-primary-dark: #202020;
    --color-primary-text: #ff3645;
    --color-secondary: #ff3645;
    --color-secondary-light: #fb3e4c;
    --color-secondary-dark: #fd2b3b;
    --color-secondary-text: #fff;
    --color-background: #353535;
    --color-link: #47a0ff;
    --color-tooltip: #131313;
    --button-border-radius: 15px;
    --header-height: 54px;
    --subheader-height: 56px;
    --navigation-height: 56px;
    --footer-height: 56px;
}