* {
    --color-primary: #151515;
    --color-primary-light: #1b1b1b;
    --color-primary-light-a: #272727;
    --color-primary-light-b: #404040;
    --color-primary-light-c: #404040;
    --color-primary-light-d: #424242c9;
    --color-secondary: #f81d2c;

    --color-text-primary: #ffffff;
    --color-text-primary-a: #9e9e9e;
    --color-text-primary-b: #f81d2c;
    --color-text-primary-c: #c3c3c3;
    --color-button-primary: #272727;

    --header-height: 50px;
    --subheader-height: 55px;
    --navigation-height: 55px;
    --footer-height: 55px;
}

/*
    filter-items (almost)
    filter-wrapper
    filter-title
    filter-value
    filter-item (almost)
*/