/* Macros */
%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.navigation-button {
	@extend %align-center;

	width: 34px;
	height: 34px;
	border-radius: 10px;
    background-color: #212121;
	color: var(--color-secondary);
	cursor: pointer;
	font-size: 12px;
}

.navigation-button:hover {
	background-color: var(--color-primary-light-b);
}

.navigation-button[data="true"] {
	border: 1px solid var(--color-secondary);
	background-color: var(--color-primary);
	pointer-events: none;
}