/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.all {
	display: flex;
	width: 100%;
	min-height: calc(100vh - var(--header-height) - var(--subheader-height) - var(--navigation-height) - var(--footer-height) - 10px);
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	grid-gap: 20px;
}

.all-title {
	color: var(--color-secondary-text);
	font-size: 25px;
	text-align: center;
}

.all-filters {
	@extend %align-center;

	flex-direction: column;
	grid-gap: 10px;
}

.all-filters-chunk-wrapper {
	display: flex;
	grid-gap: 10px;

	@media screen and (max-width: 1200px) {
		flex-direction: column;
	}
}

.all-filters-chunk {
	display: flex;
	grid-gap: 10px;
}

.all-filter-search {
	overflow: hidden;
	width: 310px;
	height: 35px;
	padding-left: 10px;
	border: 0;
	border-radius: 10px;
	background-color: var(--color-background);
	color: var(--color-secondary-text);
	font-size: 12px;

	@media screen and (max-width: 500px) {
		width: 100%;
	}
}

.all-previews {
	@extend %align-center;

	flex-wrap: wrap;
	grid-gap: 10px;
}