/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.episode {
	position: relative;
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 200px;
	border-radius: 15px;
	background-color: var(--color-primary-light);
}

.episode-thumbnail-wrapper {
	position: relative;
	display: flex;
	overflow: hidden;
	width: 355px;
	height: 100%;
	background-color: var(--color-background);

	@media screen and (max-width: 500px) {
		width: 100%;
	}
}

.episode-thumbnail {
	width: 100%;
	height: 100%;
	color: var(--color-background);
	object-fit: cover;
}

.episode-thumbnail[data="blur"] {
	filter: blur(10px);
}

.episode-overlay {
	@extend %align-center;

	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.episode-overlay[data="hover"] {
	background-color: black;
	opacity: 0.5;
    visibility: hidden;
}

.episode-thumbnail-wrapper:hover .episode-overlay[data="hover"] {
	visibility: visible;
}

.episode-extra-wrapper {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: flex;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: var(--color-background);
	grid-gap: 10px;
}

.episode-extra-wrapper-text {
	@extend %align-center;

	color: var(--color-link);
	font-size: 13px;
}

.episode-extra-wrapper-text[data="episode"],
.episode-extra-wrapper-text[data="details"] {
	display: none;
	color: var(--color-secondary-text);
	@media screen and (max-width: 500px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.episode-extra-wrapper-text[data="details"] {
	color: var(--color-primary-text);
}

.episode-data-wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px;
	grid-gap: 6px;

	@media screen and (max-width: 500px) {
		display: none;
	}
}

.episode-title-wrapper {
	display: flex;
}

.episode-title {
	color: white;
	font-size: 16px;
}

.episode-title-highlight {
	color: var(--color-secondary);
}

.episode-stat-wrapper {
	display: flex;
	align-items: center;
	grid-gap: 10px;
}

.episode-stat {
	display: flex;
	color: var(--color-secondary);
	font-size: 16px;
}

.episode-buttons {
	display: flex;
	margin-top: 5px;
	grid-gap: 10px;
}

.episode-button {
	padding: 8px 20px;
	border-radius: 10px;
	background-color: var(--color-background);
	color: var(--color-secondary-text);
	cursor: pointer;
	font-size: 13px;
}

.episode-button:hover {
	background-color: var(--color-primary-dark);
}

.episode-button:active {
	background-color: var(--color-primary);
}

/* Icons */
.icon-eye,
.icon-comment,
.icon-play {
	width: 24px;
	height: 24px;
	background-color: var(--color-primary-text);
	transform: scale(0.65);
}

.icon-eye {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M1.181 12C2.121 6.88 6.608 3 12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392 0-9.878-3.88-10.819-9zM12 17a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm0-2a3 3 0 1 1 0-6 3 3 0 0 1 0 6z'/%3E%3C/svg%3E");
}

.icon-comment {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455z'/%3E%3C/svg%3E");
}

.icon-play {
	background-color: gray;
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zM10.622 8.415a.4.4 0 0 0-.622.332v6.506a.4.4 0 0 0 .622.332l4.879-3.252a.4.4 0 0 0 0-.666l-4.88-3.252z'/%3E%3C/svg%3E");
	transform: scale(3);
}