/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.episode-overview {
	@extend %align-center;

	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 20px;
	grid-gap: 20px;
}

.episode-overview-title {
	display: flex;
	color: var(--color-primary-text);
	font-size: 19px;
	white-space: pre-wrap;

	@media screen and (max-width: 500px) {
		flex-direction: column;
		align-items: center;
	}
}

.episode-overview-title-highlight {
	color: var(--color-secondary-text);
}

.episode-overview-subtitle {
	display: flex;
	color: var(--color-primary-text);
	font-size: 16px;
	white-space: pre-wrap;
}

.episode-overview-subtitle-highlight {
	color: var(--color-secondary-text);
}

.episode-overview-extra {
	@extend %align-center;

	flex-direction: column;
	grid-gap: 3px;
}

.episode-overview-episodes {
	@extend %align-center;

	width: 310px;
	flex-wrap: wrap;
	margin-top: 10px;
	grid-gap: 10px;
}

.episode-overview-episodes-item {
	@extend %align-center;

	width: 70px;
	height: 30px;
	border-radius: 5px;
	background-color: var(--color-background);
	color: var(--color-secondary);
	cursor: pointer;
}

.episode-overview-episodes-item:hover {
	background-color: var(--color-primary-light);
}

.episode-overview-episodes-item:active {
	background-color: var(--color-primary-dark);
}

.episode-overview-episodes-item-active {
	border: 1px solid var(--color-secondary);
	background-color: var(--color-primary);
	pointer-events: none;
}