/* Macros */
%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.episode-video-loading {
    @extend %align-center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.95;
}

.episode-video-loading-text {
    color: var(--color-secondary-text);
    font-size: 26px;
}