/* Macros */
%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.notification {
	@extend %align-center;
	position: absolute;
	right: 15px;
	bottom: 65px;
	grid-gap: 20px;

	padding: 0px 40px 0px 40px;
	height: 72px;
	background-color: var(--color-primary);
	border-radius: 10px;
}

.notification-text {
	color: var(--color-text-primary);
	font-size: 16px;
}

.notification-link {
	color: var(--color-text-primary-b);
	font-size: 14px;
	cursor: pointer;
}
