/* Macros */
%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.notification {
	@extend %align-center;

	position: absolute;
	right: 15px;
	bottom: 65px;
	height: 72px;
	padding: 0 40px;
	border-radius: 10px;
	background-color: var(--color-primary);
	grid-gap: 20px;
}

.notification-text {
	color: var(--color-secondary-text);
	font-size: 16px;
}

.notification-link {
	color: var(--color-secondary-text);
	cursor: pointer;
	font-size: 14px;
}
