/* Macros */
%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.notification {
	@extend %align-center;

	position: absolute;
	right: 15px;
	bottom: 65px;
	height: 72px;
	padding: 0 40px;
	border-radius: 10px;
	background-color: var(--color-primary);
	grid-gap: 20px;
}

.notification-text {
	color: var(--color-secondary-text);
	font-size: 16px;
}

.notification-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 4px;
}

.notification-link {
	cursor: pointer;
}
.notification-link[data="skip"] {
	color: var(--color-link);
	font-size: 16px;
}
.notification-link[data="hide"] {
	color: var(--color-primary-text);
	font-size: 13px;
}

