/* Macros */
%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.filter-wrapper {
	position: relative;
	width: 150px;
	height: 35px;
	padding: 0;
	border: 0;
	border-radius: 10px;
	background-color: var(--color-background);
}

.filter-wrapper:disabled {
	filter: grayscale(1);
	pointer-events: none;
}

.filter {
	@extend %align-center;

	width: calc(100% - 4px);
	height: calc(100% - 4px);
	padding: 2px;
	cursor: pointer;
}

.filter-title {
	color: var(--color-secondary-text);
	font-size: 13px;
	white-space: pre-wrap;
}

.filter-value {
	color: var(--color-primary-text);
	font-size: 12px;
}

.filter-items-wrapper {
	position: absolute;
	display: flex;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 10px;
	visibility: hidden;
}
.filter-wrapper:focus .filter-items-wrapper { visibility: visible; }

.filter-items {
	z-index: 4;
	width: 150px;
	background-color: var(--color-primary-light);
}

.filter-item {
	@extend %align-center;

	height: 25px;
	color: var(--color-secondary-text);
	cursor: pointer;
	font-size: 11px;
}

.filter-item[data="active"] {
	color: var(--color-primary-text);
}

.filter-item:hover {
	background-color: var(--color-primary-dark);
}
