/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.topic {
	display: flex;
	flex-direction: column;
	width: calc(100% - 40px);
    margin: 20px;
	grid-gap: 15px;
}
.topic[data="small"] {
	width: calc(50% - 40px);

	@media screen and (max-width: 1500px) {
		width: calc(100% - 40px);
	}
}

.topic-title-wrapper {
	@extend %align-y;
	grid-gap: 10px;
}
.topic-title {
	color: var(--color-secondary-text);
	font-size: 27px;
}

.topic-nav-button {
	@extend %align-center;
	width: 36px;
	height: 36px;
	background-color: var(--color-background);
	border-radius: 10px;
	cursor: pointer;
}
.topic-nav-button:hover {
	background-color: var(--color-primary-light);
}
.topic-nav-button:active {
	background-color: var(--color-primary-dark);
}

.topic-previews {
	height: 300px;
	overflow: hidden;
}
.topic-previews::-webkit-scrollbar {
	display: none;
}

.icon-next {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16 12l-6 6V6z' fill='rgba(248,29,44,1)'/%3E%3C/svg%3E");
}
.icon-previous {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M8 12l6-6v12z' fill='rgba(248,29,44,1)'/%3E%3C/svg%3E");
}
.icon-favourites {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}
.icon-airing {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M15.414 5h5.594c.548 0 .992.445.992 1v14c0 .552-.455 1-.992 1H2.992A.994.994 0 0 1 2 20V6c0-.552.455-1 .992-1h5.594L6.05 2.464 7.464 1.05 11.414 5h1.172l3.95-3.95 1.414 1.414L15.414 5z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}
.icon-soon {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm1-10V7h-2v7h6v-2h-4z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}
.icon-latest {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 23a7.5 7.5 0 0 1-5.138-12.963C8.204 8.774 11.5 6.5 11 1.5c6 4 9 8 3 14 1 0 2.5 0 5-2.47.27.773.5 1.604.5 2.47A7.5 7.5 0 0 1 12 23z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}
.icon-random {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M12 19c.828 0 1.5.672 1.5 1.5S12.828 22 12 22s-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm0-17c3.314 0 6 2.686 6 6 0 2.165-.753 3.29-2.674 4.923C13.399 14.56 13 15.297 13 17h-2c0-2.474.787-3.695 3.031-5.601C15.548 10.11 16 9.434 16 8c0-2.21-1.79-4-4-4S8 5.79 8 8v1H6V8c0-3.314 2.686-6 6-6z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}