/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.sub-header {
	@extend %align-y;
	width: 100%;
	height: var(--subheader-height);
	background-color: var(--color-primary);
	padding: 10px;
	grid-gap: 10px;
}

.sub-header-button {
	@extend %align-center;
	width: 150px;
	height: 100%;
	background-color: var(--color-background);
	cursor: pointer;
	border-radius: 10px;
}
.sub-header-button:hover {
	background-color: var(--color-primary-light);
}
.sub-header-button:active {
	background-color: var(--color-primary-dark);
}
.sub-header-button-active {
	background-color: var(--color-secondary);
	pointer-events: none;
}
.sub-header-button-active:hover {
	border: none !important;
	height: 100% !important;
}

.sub-header-button-title {
	color: var(--color-secondary-text);
	font-size: 13px;
}