/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.sub-header {
	@extend %align-y;

	width: 100%;
	height: var(--subheader-height);
	padding: 10px;
	background-color: var(--color-primary);
	grid-gap: 10px;
}

.sub-header-button {
	@extend %align-center;

	width: 150px;
	height: 100%;
	border-radius: 10px;
	background-color: var(--color-background);
	cursor: pointer;
}

.sub-header-button:hover {
	background-color: var(--color-primary-light);
}

.sub-header-button:active {
	background-color: var(--color-primary-dark);
}

.sub-header-button-active {
	background-color: var(--color-secondary);
	pointer-events: none;
}

.sub-header-button-active:hover {
	height: 100% !important;
	border: none !important;
}

.sub-header-button-title {
	color: var(--color-secondary-text);
	font-size: 13px;
}