/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.video-controls-wrapper {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}

.video-controls {
	display: flex;
	visibility: hidden;

	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	pointer-events: all;
	cursor: default;
}
.video-controls-wrapper:hover .video-controls { visibility: visible; }

.video-controls-bg {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	
	background-color: #444444;
	opacity: 0.7;
}

.video-controls-section-0 {
	display: flex;

	width: calc(100% - 200px);
	height: 100%;
}

.video-controls-section-1 {
	display: flex;

	width: 200px;
	height: 100%;
	justify-content: flex-end;
}

.video-controls-button {
	position: relative;
	@extend %align-center;

	height: 40px;
	width: 40px;
	cursor: pointer;
}

.video-controls-button[disabled] {
	filter: grayscale(1);
	cursor: default;
}

.video-controls-volume:hover .tooltip,
.video-controls-button:hover .tooltip {
	visibility: visible;
}

.video-controls-time {
	position: absolute;
	@extend %align-y;

	top: -35px;
	left: 6px;
	width: 100px;
	font-size: 14px;
	color: white;
}

.video-controls-volume {
	position: relative;
	@extend %align-y;

	height: 100%;
	width: 120px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}

.video-controls-volume[disabled="true"] {
	filter: grayscale(1);
	cursor: default;
}

.video-controls-volume-bg {
	position: absolute;
	width: 100%;
	height: 10px;
	background-color: #828282;
}

.video-controls-volume-value {
	position: absolute;
	background-color: var(--color-secondary);
	height: 10px;
	z-index: 1;
}

.video-controls-timeline {
	position: absolute;
	@extend %align-y;

	height: 8px;
	width: 100%;
	top: -8px;

	cursor: pointer;
}

.video-controls-timeline-bg {
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: #828282;
}

.video-controls-timeline-progress {
	position: absolute;
	background-color: var(--color-secondary);
	height: 100%;
	z-index: 1;
}

.video-controls-timeline-segments {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.35;
}

.video-controls-timeline-segment-0 {
	background-color: blue;
	height: 100%;
}

.video-controls-timeline-segment-1 {
	background-color: transparent;
	height: 100%;
}

.video-controls-timeline-segment-2 {
	background-color: red;
	height: 100%;
}

.tooltip {
	position: absolute;
	@extend %align-center;
	top: -30px;
	height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 8px;

	background-color: var(--color-primary);
	color: var(--color-secondary);
	font-size: 13px;

	visibility: hidden;
	white-space: nowrap;
	z-index: 2;
}
.tooltip::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--color-primary) transparent transparent transparent;
}
.tooltip[data="left"] {
	left: 5px;
}
.tooltip[data="left"]::after {
	left: 17%;
}
.tooltip[data="right"] {
	right: 5px;
}
.tooltip[data="right"]::after {
	left: 83%;
}

.tooltip-volume {
	left: -10px;
}

.video-controls-button:hover .tooltip { visibility: visible; }

/* Icons */
.icon-play {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M19.376 12.416L8.777 19.482A.5.5 0 0 1 8 19.066V4.934a.5.5 0 0 1 .777-.416l10.599 7.066a.5.5 0 0 1 0 .832z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}
.icon-play[data="true"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M6 5h2v14H6V5zm10 0h2v14h-2V5z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}

.icon-subs {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M21 3c.552 0 1 .448 1 1v16c0 .552-.448 1-1 1H3c-.552 0-1-.448-1-1V4c0-.552.448-1 1-1h18zM9 8c-2.208 0-4 1.792-4 4s1.792 4 4 4c1.1 0 2.1-.45 2.828-1.172l-1.414-1.414C10.053 13.776 9.553 14 9 14c-1.105 0-2-.895-2-2s.895-2 2-2c.55 0 1.048.22 1.415.587l1.414-1.414C11.105 8.448 10.105 8 9 8zm7 0c-2.208 0-4 1.792-4 4s1.792 4 4 4c1.104 0 2.104-.448 2.828-1.172l-1.414-1.414c-.362.362-.862.586-1.414.586-1.105 0-2-.895-2-2s.895-2 2-2c.553 0 1.053.224 1.415.587l1.414-1.414C18.105 8.448 17.105 8 16 8z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}
.icon-subs[data="false"] {
	filter: grayscale(1);
}

.icon-volume {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M5.889 16H2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h3.889l5.294-4.332a.5.5 0 0 1 .817.387v15.89a.5.5 0 0 1-.817.387L5.89 16zm13.517 4.134l-1.416-1.416A8.978 8.978 0 0 0 21 12a8.982 8.982 0 0 0-3.304-6.968l1.42-1.42A10.976 10.976 0 0 1 23 12c0 3.223-1.386 6.122-3.594 8.134zm-3.543-3.543l-1.422-1.422A3.993 3.993 0 0 0 16 12c0-1.43-.75-2.685-1.88-3.392l1.439-1.439A5.991 5.991 0 0 1 18 12c0 1.842-.83 3.49-2.137 4.591z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}
.icon-volume[data="false"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M5.889 16H2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h3.889l5.294-4.332a.5.5 0 0 1 .817.387v15.89a.5.5 0 0 1-.817.387L5.89 16zm14.525-4l3.536 3.536-1.414 1.414L19 13.414l-3.536 3.536-1.414-1.414L17.586 12 14.05 8.464l1.414-1.414L19 10.586l3.536-3.536 1.414 1.414L20.414 12z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}

.icon-audio {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}
.icon-audio[data="false"] {
	filter: grayscale(1);
}

.icon-quality {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9.954 2.21a9.99 9.99 0 0 1 4.091-.002A3.993 3.993 0 0 0 16 5.07a3.993 3.993 0 0 0 3.457.261A9.99 9.99 0 0 1 21.5 8.876 3.993 3.993 0 0 0 20 12c0 1.264.586 2.391 1.502 3.124a10.043 10.043 0 0 1-2.046 3.543 3.993 3.993 0 0 0-3.456.261 3.993 3.993 0 0 0-1.954 2.86 9.99 9.99 0 0 1-4.091.004A3.993 3.993 0 0 0 8 18.927a3.993 3.993 0 0 0-3.457-.26A9.99 9.99 0 0 1 2.5 15.121 3.993 3.993 0 0 0 4 11.999a3.993 3.993 0 0 0-1.502-3.124 10.043 10.043 0 0 1 2.046-3.543A3.993 3.993 0 0 0 8 5.071a3.993 3.993 0 0 0 1.954-2.86zM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}

.icon-fullscreen {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16 3h6v6h-2V5h-4V3zM2 3h6v2H4v4H2V3zm18 16v-4h2v6h-6v-2h4zM4 19h4v2H2v-6h2v4z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}

.icon-theater {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M22 16v4a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-4h20zM21 3a1 1 0 0 1 1 1v10H2V4a1 1 0 0 1 1-1h18z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}

.icon-theater[data="true"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16 21V10h5v10a1 1 0 0 1-1 1h-4zm-2 0H4a1 1 0 0 1-1-1V10h11v11zm7-13H3V4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v4z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}

.icon-segment-0,
.icon-segment-1,
.icon-segment-2 {
	height: 24px;
	width: 24px;
	transform: scale(1);
}
.icon-segment-0 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.91 12.36L17 20.854l-2.818 1.026-3.092-8.494-4.172 3.156 1.49-14.909 10.726 10.463z' fill='rgba(82, 82, 211, 1)'/%3E%3C/svg%3E");
}
.icon-segment-1 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.91 12.36L17 20.854l-2.818 1.026-3.092-8.494-4.172 3.156 1.49-14.909 10.726 10.463z' fill='rgba(255, 255, 255, 1)'/%3E%3C/svg%3E");
}
.icon-segment-2 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.91 12.36L17 20.854l-2.818 1.026-3.092-8.494-4.172 3.156 1.49-14.909 10.726 10.463z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}

.icon-copy {
	height: 24px;
	width: 24px;
	transform: scale(1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zm2 0h8v10h2V4H9v2zm-2 5v2h6v-2H7zm0 4v2h6v-2H7z' fill='rgba(255, 255, 255, 1)'/%3E%3C/svg%3E");
}