/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.settings {
	display: flex;
    flex-direction: column;
	width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--subheader-height) - var(--footer-height));
	padding: 30px;
    grid-gap: 10px;
}

.settings-button {
	@extend %align-center;
    width: 250px;
	height: 30px;
	background-color: var(--color-primary-light-c);
	cursor: pointer;
	border-radius: 10px;
	padding: 5px 30px 5px 30px;
}
.settings-button:hover {
	background-color: var(--color-primary-light-b);
}

.settings-button-title {
	color: var(--color-text-primary);
	font-size: 13px;
}