.header {
    width: 100%;
    height: 56px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    background: var(--color-primary);
}

.header-title {
    float: left;
    margin: 0;
    padding: 0 15px;
    font-size: 24px;
    line-height: 56px;
    font-weight: 400;

    color: #fff;
}

.header-nav {
    float: right;
    font-size: 100%;
}

.header-nav-link {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    padding: 0 15px;
    min-width: 50px;
    text-align: center;
    text-decoration: none;
    will-change: background-color;

    background: rgba(255, 255, 255, 0);
    color: #fff;
}

.header-nav-link:hover,
.header-nav-link:active {
    background: rgba(0, 0, 0, 0.2);
}

.header-nav-link-active {
    background: rgba(0, 0, 0, 0.4);
}