@font-face {
    font-family: "Whitney";
    src: url("/assets/fonts/Whitney_Medium.woff") format("woff");
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    background: #fafafa;
    color: #444;
    font-family: "Whitney";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}