@font-face {
    font-family: "Whitney";
    src: url("/assets/fonts/Whitney_Medium.woff") format("woff");
    font-display: swap;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    background: #fafafa;
    color: #444;
    font-family: "Whitney";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

:focus {
	outline: 0;
}

a {
	text-decoration: none;
}

::cue {
	color:white;
    font-family: "Whitney";
	background-color: transparent;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.route-container {
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-primary);
}

.route {
    width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--subheader-height) - var(--footer-height));
	background-color: var(--color-primary);
}