* {
    --color-primary: #262626;
    --color-primary-light: #2b2b2b;
    --color-primary-dark: #202020;
    --color-primary-text: #ff3645;

    --color-secondary: #ff3645;
    --color-secondary-light: #fb3e4c;
    --color-secondary-dark: #fd2b3b;
    --color-secondary-text: #fff;

    --color-background: #353535;

    --button-border-radius: 15px;
}