/* Macros */
%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.footer {
	@extend %align-center;

	width: 100%;
	height: var(--footer-height);
	flex-direction: column;
	background-color: var(--color-background);
	color: white;
	font-size: 12px;
	white-space: pre-wrap;
}

.footer-text {
	display: flex;
	color: var(--color-secondary-text);
}

.footer-text-highlight {
	color: var(--color-primary-text);
}