<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <script src="/assets/webtorrent/webtorrent.min.js"></script>

        <link rel="icon" href="/assets/favicon.ico" />
        <link rel="manifest" href="/assets/manifest.json" />
        <link rel="canonical" href="https://comfy.lamkas.dev" />

        <title>Comfy - Watch anything, for free</title>

        <meta name="author" content="LamkasDev" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="description" content="Watch anime and TV shows for free, without ads. Hundreds of shows available and more added frequently. Best available quality, both subbed and dubbed in 1080p." />
        <meta name="keywords" content="comfy, anime, hentai, tv, watch anime, watch hentai, watch tv, watch anime online, anime subbed, anime dubbed, watch anime for free, anime subbed online, anime streaming site, best anime streaming site, watch anime without ads, watch hentai online" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@LamkasDev" />
        <meta name="twitter:creator" content="@LamkasDev" />
        <meta name="twitter:title" content="Comfy" />
        <meta name="twitter:image" content="/assets/icons/icon-192x192.png" />

        <meta name="og:site_name" content="Comfy" />
        <meta name="og:title" content="Comfy - Watch anything, for free" />
        <meta name="og:type" content="website" />
        <meta name="og:description" content="Watch anime and TV shows for free, without ads. Hundreds of shows available and more added frequently. Best available quality, both subbed and dubbed in 1080p." />
        <meta name="og:image" content="/assets/icons/icon-192x192.png" />

        <link rel="apple-touch-icon" href="/assets/icons/icon-192x192.png" />
        
        <link rel="preconnect" href="https://vaporeon.comfy.lamkas.dev" />
        <link rel="preconnect" href="https://jolteon.comfy.lamkas.dev" />
        <link rel="preconnect" href="https://flareon.comfy.lamkas.dev" />
        <link rel="preconnect" href="https://api.comfy.lamkas.dev" />
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
    </body>
</html>
