<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="icon" href="/assets/favicon.ico" />
        <link rel="manifest" href="/assets/manifest.json" />
        <link rel="canonical" href="https://xxx.xxx" />

        <title><% preact.title %></title>

        <meta name="author" content="LamkasDev" />
        <meta name="theme-color" content="#ff6394" />
        <meta name="description" content="A customizable web front-end template." />
        <meta name="keywords" content="web, development, programming, web development" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@LamkasDev" />
        <meta name="twitter:creator" content="@LamkasDev" />
        <meta name="twitter:title" content="Foxxy Frontend" />
        <meta name="twitter:image" content="/assets/icons/icon-192x192.png" />

        <meta name="og:site_name" content="Foxxy Frontend" />
        <meta name="og:title" content="Foxxy Frontend" />
        <meta name="og:type" content="website" />
        <meta name="og:description" content="A customizable web front-end template." />
        <meta name="og:image" content="/assets/icons/icon-192x192.png" />

        <link rel="apple-touch-icon" href="/assets/icons/icon-192x192.png" />

        <link rel="preload" as="image" href="/assets/icons/icon-192x192.png" />
        <link rel="preconnect" href="http://localhost:8081" />
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
    </body>
</html>
