/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.anime {
	display: inline-block;
	position: relative;
	height: 290px;
	width: 200px;
	overflow: hidden;
	border-radius: 15px;
	background-color: var(--color-primary-light-a);
	cursor: pointer;
}
.anime[data="alt"] {
	position: relative;
	height: 290px;
	width: 200px;
	overflow: hidden;
	border-radius: 15px;
	background-color: var(--color-primary-light-a);
	cursor: pointer;
}

.anime-title-wrapper {
	@extend %align-center;

	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
	background-color: var(--color-primary-light-d);
}
.anime-title {
	color: var(--color-text-primary);
	font-size: 14px;
}

.anime-favourites-wrapper {
	@extend %align-y;
}
.anime-favourites {
	color: var(--color-secondary);
	font-size: 14px;
}

.anime-thumbnail {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	color: var(--color-primary-light-a);
}

.anime-extra-wrapper {
	position: absolute;
	bottom: 45px;
	right: 10px;
	padding: 5px 10px 5px 10px;
	background-color: var(--color-primary-light-d);
	border-radius: 5px;
}
.anime-extra-text {
	font-size: 13px;
	color: #23ff83;
}

.anime-overlay {
	@extend %align-center;
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}
.anime:hover .anime-overlay { visibility: visible; }

/* Icons */
.icon-star {
	height: 24px;
	width: 24px;
	transform: scale(0.5);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}
.icon-info {
	height: 24px;
	width: 24px;
	transform: scale(2);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-11v6h2v-6h-2zm0-4v2h2V7h-2z' fill='rgba(255, 255, 255, 1)'/%3E%3C/svg%3E");
}