/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content */
.show-overview {
	display: flex;
	width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--subheader-height) - var(--footer-height));
	flex-direction: column;
	padding: 20px;
	grid-gap: 15px;
}

.show-overview-title-wrapper {
	@extend %align-y;

	height: 36px;
}

.show-overview-title {
	color: var(--color-secondary-text);
	font-size: 22px;
	text-align: center;
}

.show-overview-favourite {
	position: relative;
	width: 38px;
	height: 38px;
	border-radius: 10px;
	margin-right: 10px;
	background-color: var(--color-background);
	cursor: pointer;
	@extend %align-center;
}

.show-overview-favourite[data="not-logged-in"] {
	cursor: default;
	filter: grayscale(1);
}

.show-overview-favourite-tooltip {
	position: absolute;
	z-index: 2;
	bottom: -35px;
	left: 0;
	height: 25px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 8px;
	background-color: var(--color-background);
	color: var(--color-secondary);
	font-size: 12px;
	visibility: hidden;
	white-space: nowrap;
	@extend %align-center;
}

.show-overview-favourite-tooltip::after {
	position: absolute;
	top: -10px;
	left: 17.5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--color-background) transparent transparent transparent;
	margin-left: -5px;
	content: " ";
	transform: rotate(180deg);
}

.show-overview-favourite:hover .show-overview-favourite-tooltip {
	visibility: visible;
}

.show-overview-data-wrapper {
	display: flex;
	padding: 5px 0 20px;
	grid-gap: 25px;

	@media screen and (max-width: 500px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.show-overview-data {
	@media screen and (max-width: 500px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.show-overview-thumbnail {
	width: 220px;
	height: 320px;
	border-radius: 10px;
	background-color: #212121;
	color: #212121;
	object-fit: cover;
}

.show-overview-synopsis {
	max-width: 70%;
	color: var(--color-secondary-text);
	font-size: 15px;

	@media screen and (max-width: 500px) {
		text-align: center;
	}
}

.show-overview-data-separator {
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: var(--color-background);
}

.show-overview-data-field {
	display: flex;
	align-items: center;
	color: var(--color-primary-text);
	font-size: 15px;
	white-space: pre-wrap;
}

.show-overview-data-field-items {
	display: flex;
	grid-gap: 5px;
}

.show-overview-data-field-highlight {
	color: var(--color-secondary-text);
}

.show-overview-tag {
	@extend %align-center;

	padding-right: 10px;
	padding-left: 10px;
	border-radius: 10px;
	background-color: #6844b3;
}

.show-overview-tag:first-child {
	margin-left: 5px;
}

.show-overview-tag-name {
	color: white;
	font-size: 10px;
}

.show-overview-episodes {
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
}

/* Icons */
.icon-star,
.icon-type,
.icon-format,
.icon-status,
.icon-genres,
.icon-episodes,
.icon-rating,
.icon-eye,
.icon-tag,
.icon-titles {
	width: 24px;
	height: 24px;
	margin-right: 2px;
	background-color: var(--color-primary-text);
	transform: scale(0.75);
}

.icon-star {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}

.icon-star[data="true"],
.icon-star[data="false"] {
	margin: 0;
}

.icon-star[data="false"] {
	background-color: gray;
}

.icon-type[data="0"] {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 .5l4.226 6.183 7.187 2.109-4.575 5.93.215 7.486L12 19.69l-7.053 2.518.215-7.486-4.575-5.93 7.187-2.109L12 .5zM10 12H8a4 4 0 0 0 7.995.2L16 12h-2a2 2 0 0 1-3.995.15L10 12z'/%3E%3C/svg%3E");
}

.icon-type[data="1"] {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M15.414 5h5.594c.548 0 .992.445.992 1v14c0 .552-.455 1-.992 1H2.992A.994.994 0 0 1 2 20V6c0-.552.455-1 .992-1h5.594L6.05 2.464 7.464 1.05 11.414 5h1.172l3.95-3.95 1.414 1.414L15.414 5z'/%3E%3C/svg%3E");
}

.icon-format {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17.998 7l2.31-4h.7c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V3.993A1 1 0 0 1 2.992 3h3.006l-2.31 4h2.31l2.31-4h3.69l-2.31 4h2.31l2.31-4h3.69l-2.31 4h2.31z'/%3E%3C/svg%3E");
}

.icon-status[data="0"] {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2zM4 9v10h16V9H4zm2 2h2v2H6v-2zm5 0h2v2h-2v-2zm5 0h2v2h-2v-2z'/%3E%3C/svg%3E");
}

.icon-status[data="1"] {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9 1v2h6V1h2v2h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2zm11 7H4v11h16V8zm-4.964 2.136l1.414 1.414-4.95 4.95-3.536-3.536L9.38 11.55l2.121 2.122 3.536-3.536z'/%3E%3C/svg%3E");
}

.icon-genres {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M7.05 13.406l3.534 3.536-1.413 1.414 1.415 1.415-1.414 1.414-2.475-2.475-2.829 2.829-1.414-1.414 2.829-2.83-2.475-2.474 1.414-1.414 1.414 1.413 1.413-1.414zM3 3l3.546.003 11.817 11.818 1.415-1.414 1.414 1.414-2.474 2.475 2.828 2.829-1.414 1.414-2.829-2.829-2.475 2.475-1.414-1.414 1.414-1.415L3.003 6.531 3 3zm14.457 0L21 3.003l.002 3.523-4.053 4.052-3.536-3.535L17.457 3z'/%3E%3C/svg%3E");
}

.icon-episodes {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M8 4h13v2H8V4zM5 3v3h1v1H3V6h1V4H3V3h2zM3 14v-2.5h2V11H3v-1h3v2.5H4v.5h2v1H3zm2 5.5H3v-1h2V18H3v-1h3v4H3v-1h2v-.5zM8 11h13v2H8v-2zm0 7h13v2H8v-2z'/%3E%3C/svg%3E");
}

.icon-rating {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11.38 2.019a7.5 7.5 0 1 0 10.6 10.6C21.662 17.854 17.316 22 12.001 22 6.477 22 2 17.523 2 12c0-5.315 4.146-9.661 9.38-9.981z'/%3E%3C/svg%3E");
}

.icon-eye {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M1.181 12C2.121 6.88 6.608 3 12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392 0-9.878-3.88-10.819-9zM12 17a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm0-2a3 3 0 1 1 0-6 3 3 0 0 1 0 6z' fill='rgba(248, 29, 44, 1)'/%3E%3C/svg%3E");
}

.icon-tag {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10.9 2.1l9.899 1.415 1.414 9.9-9.192 9.192a1 1 0 0 1-1.414 0l-9.9-9.9a1 1 0 0 1 0-1.414L10.9 2.1zm2.828 8.486a2 2 0 1 0 2.828-2.829 2 2 0 0 0-2.828 2.829z'/%3E%3C/svg%3E");
}

.icon-titles {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M7.784 14l.42-4H4V8h4.415l.525-5h2.011l-.525 5h3.989l.525-5h2.011l-.525 5H20v2h-3.784l-.42 4H20v2h-4.415l-.525 5h-2.011l.525-5H9.585l-.525 5H7.049l.525-5H4v-2h3.784zm2.011 0h3.99l.42-4h-3.99l-.42 4z'/%3E%3C/svg%3E");
}